<html>
<head>
	<meta charset="UTF-8">
	<title>Reset Password</title>
</head>
<body>
<h1 id="title">
    Simple
    <img src="assets/img/latex.svg" id="logo" alt="Latex" style="width:300px;height:50px;">
  </h1>
        <h3>Sign Up</h3>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" #userEmail required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" #userPwd required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign up</button>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="or">Or</div>
        </div>
        <br>
        <button mat-raised-button color="primary" type="button" (click)="authService.GoogleAuth()" style="width:400px;">
          <mat-icon class="material-icons">account_circle</mat-icon>
          Continue with Google
        </button>
        <br><br>
        <div >
          <span>Already have an account?</span> 
          <p>Go back to <a href="/sign-in">Log In</a></p>
        </div>
      </body>
      </html>