<html>
<head>
	<meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>
  <h1 id="title">
    Simple
    <img src="assets/img/latex.svg" id="logo" alt="Latex" style="width:300px;height:50px;">
  </h1>

  <h2>
    Hello {{ email }}
  </h2>

  <br>

  <div id="pureSvg" [innerHTML]="sanitizedHtmlContent">

  </div>
  <br>

  <mat-form-field id="CodeLatex">
    <mat-label>Put Latex Code</mat-label>
    <input matInput type="text" #latexIpt>
  </mat-form-field>

  <br>

  <button mat-raised-button color="primary" (click)="getFormula(latexIpt.value)">Submit</button>
  <button mat-raised-button color="accent" (click)="registerFormula()">Save</button>

 <br>
 <div>
 History
  <mat-selection-list>
    <button mat-raised-button color="warn" (click)="eraseFormula()">Erase</button>

    <mat-list-option id ="historique" *ngFor="let items of displayable_history">
      <div>
      <div id="item_hist_element" [innerHTML]="items" ></div>
      <!-- Utiliser display-flex -->
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>

  <button mat-raised-button id="Button_logOut" (click)="authService.SignOut()">Log Out</button>
</body>
</html>
